@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    
}

.info-title{
   font-weight: 400;
    
   
}

.form-control {
    width: 100% !important;
  }

.form{
    margin: 0 30px;
}
.formcont::placeholder{
    font-size: medium!important;
}
.Select{
    width: 60% !important;
    
}


.buttons{
    margin-right: 10px;
    text-align: center;
   
}
.save{
    height: fit-content;
    padding: 5px;
    width: 180px;
    background-color: #08B721;
    border:1px black solid;
    margin: 0 5px;
    border-radius: 3px;
}
.cancel{
    height: fit-content;
    padding: 5px;
    width: 180px;
    border-radius: 3px;
    border:1px black solid;
}
.t{
    border-radius: 100%;
    padding: 1px 10px;
    margin-top: 10px;
    border-radius: 1px black solid;
    background-color: lightblue;
    
    
}
.PVEV{
    margin-bottom: 15px;
}
.res{
    width: 90% !important;
    margin-left: 20px;
}
.formev{
    
    
    margin-left: 20px;
    text-align: left;
    width: 90% !important;
}
.PV-Form {
    width: 100% !important;
    
  }